<div>
  <h2>
    <%= @restaurant.name %>
  </h2>
</div>
<div class="details">
  <p>Address : <%= @restaurant.address %></p>
  <p>Phone number : <%= @restaurant.phone_number %></p>
  <p>Category : <%= @restaurant.category %></p>
  <%= link_to "Edit", edit_restaurant_path, class: "btn btn-secondary"%>
  <%= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class: "btn btn-secondary" %>
</div>
<div>
  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item">
      <%= review.content %>
      <p> Score : <%= review.rating %> / 5</p>
      </li>
    <% end %>
  </ul>
</div>
<div class="link">
  <%= link_to "Back to list", restaurants_path, class: "btn btn-primary"%>
</div>
