<%= simple_form_for [ @restaurant, @review ] do |f| %>
  <div class="form--">
    <%= f.label :content, class: "form-label" %>
    <%= f.text_field :content, class: "form-control" %>
    <%= f.input :rating, collection: Review::RATING, wrapper: false %>
    <%= f.submit%>
  </div>
<% end %>
<div class="link">
  <%= link_to "Back to restaurant", restaurant_path(@restaurant), class: "btn btn-primary" %>
</div>
